{% extends "main/components/base.html" %} 


{% block title %}
 status-todos-Page 
{% endblock  %}
{% comment %} <title> Ahmed </title> {% endcomment %}

    {% block content %}

  <div class="row row-cols-1 p-3 row-cols-md-3 g-4">
    {% for task in  todos %}
           
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{task.title}}</h5>
              <p class="card-text">{{task.description}}</p>
              <a href='{%  url "detail" task.id  %}' class="btn btn-primary" > View Details </a>
            </div>
          </div>
        </div>
      {% empty %}
            <h3> there is no completed todo </h3>
        {% endfor %}
      </div>

{% endblock  %}